{% extends 'base.html' %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Instance Overview" %}{% endblock %}

{% block page_header %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/project/hzrequestspanel/angular-material.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/project/hzrequestspanel/hzrequestspanel.css">
{% endcompress %}
{% endblock page_header %}

{% block main %}
  {% include "hzrequestspanel/usage_summary.html" %}
{% endblock %}
