{% extends 'base.html' %}
{% load i18n %}
{% load compress %}
{% block title %}{% trans "Instance Overview" %}{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title=_("Overview") %}
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/project/hzrequestspanel/angular-material.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/project/hzrequestspanel/hzrequestspanel.css">
{% endcompress %}
{% endblock page_header %}

{% block main %}
  {% include "hzrequestspanel/_limit_summary.html" %}

  {% if simple_tenant_usage_enabled %}
    {% include "hzrequestspanel/_usage_summary.html" %}
    {{ table.render }}
  {% endif %}
{% endblock %}
